* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clcborder {
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.13);
    height: 660px;
    width: 360px;
    overflow: hidden;
}
#output{
    color: white;
    width: 340px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
    align-items: last baseline;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.display{
    height: 90px;
    width: 100%;
    font-size: 2rem;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.subdisplay{

    display: flex;
    height: 90px;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1rem;
    color: rgb(0, 255, 55);
}
.buttons{
    
    width: 340px;
    height: 450px;
    margin-bottom: 10px; 
    margin-left: 10px;
    margin-top: 50px;
    
}
.row1{
   
    width: 340px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content:space-between;
   
}
.row2{
    
    width: 340px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content:space-between;
   
}
.row3{
   
    width: 340px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content:space-between;
   
}
.row4{ 
    width: 340px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content:space-between;
   
}
.row5{
    width: 340px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content:space-between;
   
}
.zero{
    width: 155px;
    height: 60px;
    border-radius: 30px;
    font-size: 2rem;

}
button{
     box-shadow:  3px 9px 13px rgba(255, 334, 255, 0.296);
    cursor: pointer;
    font-size: 2rem;
color: white;
background-color: rgb(57, 57, 57);
    border: 2px  rgb(57, 57, 57);
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
button:hover{
    background-color: white;
    color:  rgb(57, 57, 57);
    transition: 1.5s;
}
.yellow{
    font-size: 2rem;
    border: 2px rgb(255, 145, 0);
    background-color: rgb(255, 145, 0);
    color: white;
}
.yellow:hover{
    background-color: white;
    color:  rgb(255, 145, 0);
    transition: 1.5s;}

.gray{
    overflow: hidden;
    background-color: rgb(176, 176, 176);
    color: black;
}
.gray:hover{
    border: 2px solid rgba(255, 255, 255, 0.13);
    background-color: black;
    color: rgb(176, 176, 176);
    transition: 1.5s;}

